<h1 class="section-title">Events & Results</h1>
<% if current_user.admin? %>
  <%= link_to "Add an event", event_form %>
<% end %>
<% @events.each do |event| %>
  <div class="events">
    <%= event.event_title %>
    <%= event.event_content %>
    <%= event.date_from %>
    <%= event.date_to %>
  </div>
<% end %>