<div class="subpage-container">
    <div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3 class="section-title">Additional Links:</h3>
        </div>
        <ul class="list-unstyled components">
            <br>
            <li>
                <%= link_to "World Champtionship History", "/worldhst.htm", class:'listcolor' %>
            </li>
            <li>
                <%= link_to "Great Lakes Regatta History", "/gl_hist.htm", class:'listcolor' %>
            </li>
            <li>
                <%= link_to "Canadian National History", "/can_hist.htm", class:'listcolor' %>
            </li>
            <li>
                <%= link_to "Pendergast Memorial - Womens Trophy", "/pndwomen.htm", class:'listcolor' %>
            </li>
            <li>
                <%= link_to "Marcisz Memorial Jr Trophy", "/marcisz.htm", class:'listcolor' %>
            </li>
        </ul>
    </nav>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        </nav>
    </div>
</div>      

<div class="history-container-right">
    <h3 class="section-title">Historical Overview of NODRA</h3>
    <br>
    <p>The National One-Design (NOD) was an instantaneous hit when its plans appeared in the January 1937 issue of The Rudder magazine.  Designed a year earlier (1936) by William F. Crosby, who was editor of The Rudder as well as a renowned designer, the 17-foot sloop continues to attract sailors who want to race, sailors who enjoy day sailing and families who like some of each.</p>
    <p>In those days of the Great Depression before World War II when sailing was primarily a past time for the wealthy, the simple and elegant lines Crosby printed in The Rudder were transformed by dozens of backyard boat builders and a few commercial shops into speedy and stable craft particularly suited for inland waters.</p>
    <p>While Crosby’s NOD design was rooted in the Snipe class he had designed two years earlier, NOD’s hull and sail plan have some of the advanced, more modern characteristics of the much larger 12-meter boats that would revitalize America’s Cup racing some 20 years later.</p>
    <p>The National One-Design Racing Association (NODRA), founded in 1937 to manage the new class and its activities and promote NOD sailing, conducted the first national championship regatta a year later on Lake Wawasee in northern Indiana.  Eight boats competed and the first champion was Joe Plaskett of Fort Wayne, Indiana, sailing boat number 78, one of three boats built by his high school vocational education class.</p>
    <p> By 1941 there were 450 NODs in 27 fleets registered with NODRA and an unknown number of unregistered boats.  Class activities resumed in 1946 after a wartime hiatus when the Milwaukee NOD fleet sponsored the Great Lakes Championships.  Spurred on by renewed enthusiasm, a reactivated NODRA then sponsored district, national and world championship regattas throughout the United States, Canada and Europe.</p>
    <p>Some 825 boats were registered in 1987, the 50th anniversary of the publication of Crosby’s design, with an estimated additional 300 to 400 unregistered boats.  Fleets were chartered in Canada, England, Northern Ireland and Switzerland in addition to those chartered in the United States.  Today well over 1,000 NODs are sailing in Europe and North America, with about 850 registered in the United States.</p>
    <p>Annually, there are many regattas in the US and Canada, including the annual World Championship.  For more information regarding regattas, see our <%= link_to "Events", 'static_pages/events' %> page.</p>
</div>
</div>