<h1 align="center"><div class="blue">NODRA</div><div class="orange">chat</div></h1>
<% if !logged_in? %>
    <h3 align="center">Welcome! Please <%= link_to "sign in", login_path %> to post articles or comment!</h3>    
<% end %>
<% if notice %>
    <div class="alert alert-info" role="alert">
        <p><%= notice %></p>
    </div>
<% end %>
<br>
<div class="container">
    <% if @articles.any? %>
        <% @articles.each do |article| %>
            <div class="card">
                <div class="article card-body">
                    <div class="article-title">
                        <h4><%= link_to article.title, article_path(article) %></h4>
                    </div>
                    <small>Created by: <%= article.user.username if article.user %>,
                    <%= time_ago_in_words(article.created_at) %> ago</small>
                    <div class="article-body">
                        <%= truncate(article.description, length: 200) %>
                    </div>
                    <% if article.comments.any? %>
                        <%= article.comments.count %> comments
                    <% end %>
                    <div class="article-actions">
                        <% if logged_in? && article.user_id == current_user.id %>
                            <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_article_path(article), class: "btn btn-xs btn-primary pull-left" %>
                            <%= button_to article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete this article?"}, class: "btn btn-xs btn-danger pull-right" do %>
                                <i class="fa fa-trash"></i>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <br>
            </div>
        <% end %>
    <% end %>
</div>