<%= render 'layouts/userportal' %>
<h2 align="center"><%= @article.title %></h2>
<div class="row">
    <div class="well col-xs-8 col-xs-offset-2">
        <small>Created by: <%= @article.user.username if @article.user %>,
        <%= time_ago_in_words(@article.created_at) %> ago</small>
        <hr>
        <%= simple_format(@article.description) %>
    </div>
</div>