<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>

<% if @user.articles.any? %>
  <p>Posts by <%= @user.username %>:
  <ul>
  <% @user.articles.each do |article| %>
      <li><%= link_to "article", article_path %></li>
  <% end %>
  </ul>
<% end %>