<h1 class="section-title" align="center">NODRA Events & Results</h1>
    <% if logged_in? %>
        <%= link_to 'Create an event', new_event_path(@event) %>
    <% end %>
    <br>
    <% @event.each do |event| %>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="event-container well well-lg">
                    <small>Posted: <%= time_ago_in_words(event.created_at) %> ago</small>
                    <div class="event-title">
                        <%= event.event_title %>
                        <hr>
                    </div>
                    <div class="event-body">
                        <%= event.event_content %>
                        <hr>
                    </div>
                    <span>
                        <div class="event-date">
                            <strong>From: </strong><%= event.date_from %>
                        </div>
                        <div class="event-date">
                            <strong>To: </strong><%= event.date_to %>
                        </div>
                    </span>
                    <div class="article-actions">
                        <% if logged_in? && event.user_id == current_user.id %>
                            <%= link_to "Edit", edit_event_path(event), class: "btn btn-xs btn-primary" %>
                            <%= button_to "Delete", event_path(event), method: :delete, data: { confirm: "Are you sure you want to delete this event?"}, class: "btn btn-xs btn-danger" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>