<div class="center jumbotron">
    <div class="welcome section-title">
        <h1>Welcome to NODRA</h1>
        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
        <h2>The National One-Design Racing Association</h2>
    </div>
</div>
<div class="container-main">
    <div class="container-left section-title">
    <h3 class="section-title">Background</h3>
        <div class="text-section">
            <p>Swift and graceful, the 17-foot National One-Design (NOD) is a classic sloop-rigged sailboat that offers comfortable day sailing as well as competitive racing.  Designed in 1936 by W.F.(Bill) Crosby, the boat is still upholding the adage that “if it looks good, it is good.” The speedy and stable boat was immediately popular when its lines first appeared in the January 1937 issue of The Rudder magazine.  Today well over 1,000 NODs are sailing in the United Sates, Canada, England and Switzerland with about 850 of them registered with the National One-Design Racing Association (NODRA) in the U.S.</p>
            <p>The reasons for this popularity are readily apparent.  Although designed more than 60 years ago, the NOD is a thoroughly modern, well balanced boat that is a joy to sail.  The tall mast with a high aspect ratio sail plan, a narrow and deep centerboard and an inboard rudder enable the NOD to sail exceptionally close to the wind and provide outstanding maneuverability.  A moderately beamy hull overhangs a hard chine and sweet sheer make for a stable and dry boat.  Class rules allowing only two sails – a mainsail and large jib – help keep sailing simple.</p>
            <p>NOD’s roomy cockpit, side decks and fore and aft decks give that big boat feeling and offer adequate storage area and comfortable day sailing for six adults; racing calls for a two-person crew.  NOD’s weight of only 400 pounds allows easy trailering.</p>
            <p>Designed in the days before fiberglass, NODs originally were built of wood, many of them from kits.  Today’s NODs have fiberglass hulls, aluminum spars, stainless steel rigging and dacron sails.  Specifications are controlled by NODRA, which owns the design, in order to maintain the integrity of the class, assure quality construction and keep costs down.  Boats in various stages of completion and parts are available through NODRA as well as hull plans for those who enjoy constructing from wood.</p>
        </div>
    </div>
    <div class="container-right">
        <ul class="image-size">
            <li><%= image_tag "home_page/guyjudi.jpg"%></li>
        </ul>
    </div>
</div>


<span class="event-button"><h1 class="section-title">NODRA Events & Results</h1></span>
<% if logged_in? && current_user.admin? %>
    <span class="event-button"><button class="btn btn-primary btn-xs"><i class="fa fa-edit"></i><%= link_to ' Create an event', new_event_path(@event) %></button></span>
<% end %>
<% if @events %>
    <div class="event-container container">
        <% @events.each do |event| %>
            <div class="card">
                <div class="card-body">
                    <div class="event-title">
                        <%= event.event_title %>
                    </div>
                    <div class="event-body">
                        <%= event.event_content %>
                    </div>
                    <div class="event-date">
                        <span class="UIbutton"><strong>From: </strong><%= event.date_from %></span>
                        <span class="UIbutton"><strong>To: </strong><%= event.date_to %></span>
                    </div>
                    <div class="article-actions">
                        <% if logged_in? && event.user_id == current_user.id %>
                            <span class="UIbutton"><%= link_to "Edit", edit_event_path(event), class: "btn btn-xs btn-primary" %></span>
                            <span class="UIbutton"><%= button_to "Delete", event_path(event), method: :delete, data: { confirm: "Are you sure you want to delete this event?"}, class: "btn btn-xs btn-danger" %></span>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% end %>