<% if notice %>
    <div class="alert alert-info" role="alert">
        <p><%= notice %></p>
    </div>
<% end %>
<div class="container">
  <div class="contact-table">
    <table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Fleet</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <div class="contact-table-editable">
            <% if @contacts.any? %>
              <% @contacts.each do |contact| %>
                <tr>
                  <td><%= contact.name %></td>
                  <td><%= contact.fleet %></td>
                  <td><%= contact.email %></td>
                  <td><%= contact.phone_number %></td>
                  <% if logged_in? && current_user.admin %>
                    <td>
                      <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_contact_path(contact), class: "btn btn-sm btn-primary" %>
                    </td>
                    <td>
                      <%= button_to contact_path(contact), method: :delete, class: "btn btn-sm btn-danger" do %>
                        <i class="fa fa-trash"></i>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
        </div>
      </tbody>
    </table>
    <% if logged_in? %>
      <%= link_to '<i class="fa fa-plus-square"></i> Add a contact'.html_safe, new_contact_path(@contact) %>
    <% end %>
  </div>
  <br>
  <div class="additional contacts">
      <h3 class="section-title">For Additional Information, Please Contact:</h3>
      <br>
      <p>Guy Donnatelli, Commodore, at <strong>jtell0824@sbcgobal.net</strong><p>
      <p>Paul J. Sniadecki, Rear-Commodore & webmaster, at <strong>psniadecki@yahoo.com</strong></p>
  </div>
</div>