<header class="navbar navbar-fixed-top navbar-inverse">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to "NODRA", "home"%>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <%= link_to "History", "history" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Contacts", "contacts" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Gallery", "gallery" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Join", "join" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Sale", "sale" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Specs", "specs" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Blog", "#" %>
                </li>
            </ul>
        </div>
    </nav>
</header>